.addToCart {
  width: 87%;
  margin: auto;
  height: 72px;
  flex-shrink: 0;
  color: #393;
  font-size: 18px;
  font-weight: 600;
  line-height: 26.4px; /* 23.4px */
  border-radius: 21px;
  border: 2px solid #393;
  background: #f1fff1;
  z-index: 111;
  position: absolute;
  cursor: pointer;
  bottom: 32px;
  opacity: 0;
  transition: opacity 0.3s;
}
.imgForMob{
  display: none;
}
.addToCart:active {
  transform: scale(0.95);
}
@media (max-width: 900px) {
  .addToCart {
    height: 52px;
    font-size: 13px;
    bottom: 22px;
  }
}
@media (max-width: 700px) {
  .addToCart {
    opacity: 1;
    left: 10px;
    bottom: 10px;
    background-color: rgb(250, 250, 250, 0.5);
    width: 50px;
    border: none;
    color: #393;
    transition: 1s;
  }
  .addToCart:active {
    background-color:#393;;
    color: white;
  }
  .imgDefault{
    display: none;
  }
  .imgForMob{
    display: block;
  }
}