.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 19px 28px 76px 28px;
}
.headerContainer img {
  width: 72px;
  height: 72px;
  
}
.headerContainer button {
  width: 125px;
  height: 49px;
  border-radius: 5px;
  border: 2px solid #393;
  background: #393;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
.headerContainer nav{
  display: flex;
  gap: 173px;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 59px;
}
.list {
  display: flex;
  align-items: center;
  gap: 31px;
}
.list li:first-child {
 margin-right: 18px;
}
.list li a:hover{
  color: #339933;
}
/*
.list li a:active {
  color: #339933;
}*/
.list img {
  width: 32px;
  height: 32px;
}
.stateBtn{
  display: none;
}
.totalInBasket{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
.totalInBasket img, 
.totalInBasket a{
  width: 30px;
  height: 30px;
}
.totalInBasket p{
  font-size: 13px;
  width: 100%;
  text-align: center;
  transform: translate(0,-23px)
}
