
.imageContainer {
  position: relative;
  width: 318px;
  height: 350px;
  overflow: hidden;
}
.imageContainer img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.wrapper p {
margin-top: 20px;
  text-align: center;
  word-wrap: break-word;
}
