.wrapper {
  margin: 3px 30px 27px;
}

.wrapper h2 {
  font-style: italic;
  font-weight: 400;
  margin-bottom: 91px;
}
.productsWrapper {
  margin-top: 34px;
  display: flex;
  flex-wrap: wrap;
  width: auto;
  gap: 34px;
}
