.wrapper {
  padding: 48px 0 28px 32px;
}

.infoWrapper {
  display: grid;
  grid-template-columns: 1fr 564px;
  gap: 100px;
}

.iconsContainer {
  display: flex;
  gap: 32px;
}
.iconContainer a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.iconContainer img {
  margin: auto;
}
.iconContainer p {
  font-size: 15px;
  font-weight: 600;
  line-height: 19.5px; /* 19.5px */
}

.phone {
  font-size: 70px;
  font-weight: 600;
  line-height: 91px; /* 91px */
  margin: 25px 0 30px;
  width: auto;
}
.adressWrapper h2 {
  margin-bottom: 25px;
}
.adressWrapper a {
  font-size: 40px;
  font-weight: 600;
  line-height: 52px; /* 52px */
  text-decoration-line: underline;
}
.workingTime {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 23.4px; /* 23.4px */
}
.time {
  font-size: 24px;
  font-weight: 600;
  line-height: 31.2px; /* 31.2px */
}
.map {
  margin: 65px auto;
}
.googleMap {
  width: 100%;
  padding-right: 62px;
  height: 525px;
  border: none;

}

@media (max-width: 1300px) {
  .phone {
    font-size: 50px;
  }
}

@media (max-width: 1200px) {
  .infoWrapper {
    grid-template-columns: 1fr;
   
  }
  .phone {
    font-size: 50px;
  }
}