.salesContainer {
  background-color: #a1e2eb;
  color: #fff;
  display: grid;
  grid-template-columns: 2fr auto;

}

.textContainer {
  font-size: 80px;
  color: #fff;
  font-style: normal;
 
  line-height: 130%;
  margin: 130px 0 140px;
  margin-left: 50px;
}

.textContainer span {
  font-size: 63px;
}

.btnContainer {
  margin-top: 60px;
  display: flex;
  gap: 80px;
}

.btn {
  font-size: 25px;
  font-weight: 700;
  width: 155px;
  height: 82px;
  border-radius: 13px;
  cursor: pointer;
  background-color: white;
  border: none;
}

.imgContainer {
  overflow: hidden;
}
