.salesContainer {
  background-color: #a1e2eb;
  color: #fff;
  display: grid;
  grid-template-columns: 2fr auto;
  height: auto;
}

.textContainer {
  font-size: 80px;
  color: #fff;
  line-height: 130%;
  margin: 130px 0 139px 50px;
}

.textContainer span {
  font-size: 63px;
}

.btn {
  margin-top: 60px;
  font-size: 25px;
  font-weight: 700;
  width: 155px;
  height: 82px;
  border-radius: 13px;
  cursor: pointer;
  background-color: white;
  border: none;
}

.imgContainer {
  overflow: hidden;
}
.imgContainer img{
  margin-top: -61px;
}

@media (max-width: 1200px) {
  .salesContainer {
    grid-template-columns: 1fr;
    background-image: url("../../images/image2.svg");
    background-position-x: right;
    background-position-y: -61px;
    background-repeat: no-repeat;
    
  }
  .imgContainer {
    display: none;
  }
}