.wrapper {
  width: auto;
  margin: 0 28px 16px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.inputDiv {
  color: rgb(167, 167, 167);
  border-radius: 17px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  border: 1px solid gray;
  cursor: text;
}

.wrapper input {
  height: 25px;
  border-radius: 17px;
  margin: 0 10px;
  border: none;
  outline: none;
  padding: 10px;
}

.wrapper input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.wrapper input::-webkit-input-placeholder {
  transition: opacity 0.3s ease;
}

.wrapper button {
  height: 25px;
  background-color: transparent;
  border: none;
  color: rgb(167, 167, 167);
}
@media (max-width: 900px) {
  .wrapper {
    height: 0;
  }
  .inputDiv {
    position: absolute;
  top: 50px;
  left: 150px;
  }
}
@media (max-width: 800px) {
  .inputDiv {
    width: 50px;
    right: 450px;
  }
  .inputDiv input {
    display: none;
  }
  .inputDivActive {
    width: 270px;
    transition-duration: 1s;
  }
  .inputDivActive .inputActiv {
    display: block;
    width: auto;
  }
  .clearSearchButton {
    display: none;
  }
  .inputDivActive .inputActiv  .clearSearchButton{
    display: block;
  }
}
@media (max-width: 700px) {
  .inputDiv {display: none;}
}
