.wrapper {
  display: flex;
  flex-direction: column;
  /*width: 319px;*/
  width: 300px;
}

.imgContainer {
  /*width: 319px;*/
  width: 300px;
  height: 276px;
  background: #FBFBFB;
  border-radius: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

}
.imgContainer img {
  height: auto;
  width: 100%;
}

.priceContainer {
  display: flex;
  align-items: flex-end;
  gap: 47px;
  margin: 20px 0 10px;
  padding-left: 20px;
  
}
.price {
  color: #000;
  font-size: 30px;
  font-weight: 600;
  line-height: 39px; /* 39px */
  letter-spacing: 0.9px;
}
.discont_price {
  color: #8b8b8b;
  text-decoration: line-through;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px; /* 26px */
  letter-spacing: 0.6px;
}
.procent {
  color: #ff32a1;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px; /* 26px */
  letter-spacing: 0.6px;
}
.title {
  width: 300px;
  height: 42px;
  word-wrap: break-word;
  padding-left: 20px;
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px; /* 20.8px */
  letter-spacing: 0.48px;
}
