.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.imgContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
}
.addToCard {
  width: 279px;
  height: 72px;
  flex-shrink: 0;
  color: #393;
  font-size: 18px;
  font-weight: 600;
  line-height: 26.4px; /* 23.4px */
  border-radius: 21px;
  border: 2px solid #393;
background: #f1fff1;
  /*background: #ff32a1;*/
  z-index: 111;
  position: absolute;
  cursor: pointer;
  bottom: 32px;
  left: 10px;
 opacity: 0;
  transition: opacity .3s;

}
.addToCard:hover{
  opacity: 1;
  transition: opacity .3s;
}
.addToCard:active{
  transform: scale(0.95);
}
.wrapper img {
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.priceContainer {
  display: flex;
  align-items: flex-end;
  gap: 47px;
  margin: 20px 0 10px 7px;
}
.price {
  color: #000;
  font-size: 30px;
  font-weight: 600;
  line-height: 39px; /* 39px */
  letter-spacing: 0.9px;
}
.discont_price {
  color: #8b8b8b;
  text-decoration: line-through;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px; /* 26px */
  letter-spacing: 0.6px;
}
.procent {
  color: #ff32a1;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px; /* 26px */
  letter-spacing: 0.6px;
}
.title {
  width: 300px;
  height: 42px;
  word-wrap: break-word;
  margin-left: 7px;
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px; /* 20.8px */
  letter-spacing: 0.48px;
}
