.productsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 34px;
  }
  
.wrapper h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px; /* 52px */
  letter-spacing: 1.2px;
  margin: 79px 0 91px;
}
.wrapper input {
  border-radius: 7px;
  border: 1px solid #000;
  padding-left: 10px;
}
.wrapper ::placeholder {
  color: #797979;
  font-size: 16px;
  font-weight: 500;
  line-height: 20, 8px; /* 20.8px */
  letter-spacing: 0.48px;
  margin-left: 10px;
}
.sortContainer {
}
.sortContainer span {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px; /* 26px */
  letter-spacing: 0.6px;
}
.spanPrice {
}
.inputSort {
  margin: 0 15px;
  width: 103px;
  height: 42px;
}
.inputSort::placeholder {
  color: #acacac;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px; /* 20.8px */
  letter-spacing: 0.48px;
}

.spanSorted {
  margin-left: 53px;
}
.inputSortByDefault {
  margin-left: 42px;
  width: 219px;
  height: 40px;
}
.inputSortByDefault::placeholder {
  color: #797979;
  font-size: 16px;
  font-weight: 500;
  line-height: 20, 8px; /* 20.8px */
  letter-spacing: 0.48px;
}
